/* App 전체 컨테이너 */
.container{
  width: 420px;
  margin: 50px auto;
  text-align: center;
}

.input-box{
  display: flex;
  justify-content: center;
  gap: 10px;
}

ul.todo-list{
  list-style: none;
  padding: 0;
}

.todo-list li{
  padding: 10px 12px;
}

.delete-btn{
  margin-left: 12px;
  cursor: pointer;
}